.message {
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
}

.message__body > h2 {
    color: grey;
    font-size: small;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.message__user {
    margin-left: auto;
}

.message__userCard {
    color: white !important;
    border-radius: 24px !important;
    text-align: left !important;
    background-color: #0b81ff !important;
}

.message__guestCard {
    border-radius: 24px !important;
    text-align: left !important;
    background-color: #e9e9eb !important;
}

.message__component {
    display: flex;
    align-items: flex-end;
}

.message__avatar {
    margin-right: 1rem;
}