.message {
    padding: 0.5rem;
    margin: 0.5rem;
    width: fit-content;
}

.message__user {
    text-align: left !important;
    margin-left: auto;
    color: white;
}

.message__userCard {
    background-color: #0b81ff !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
}